/* body {
background-image: url(./Assets/Background_Intro.png), url(./Assets/Background_Contacts.png);
background-position:top, bottom;
background-size: cover, cover;
} */

#intro {
/* margin-top: 120px; */
text-align: center;
width: 1366px;
height: 750px;
/* margin-inline: auto; */
color: var(--gray-500);
font: var(--subtitle);

header:nth-child(1) {
 background-image: url(./Assets/Background_Intro.png);
background-size: cover; 
width: 1366px;
height: 750px;
}

img {
  margin-bottom: 56px;
  margin-top: 120px;
}

/* span {
  color: var(--red);
} */

h1 {
  margin-top: 8px;
  margin-bottom: 20px;
  font: var(--title-lg);
  color: var(--gray-600); 
}

div p {
  width: 680px;
  margin: auto;
  font: var(--text-sm);
}

}

#tag {
  justify-content: center;
  margin-top: 80px;
  color: var(--gray-500);
  column-gap: 16px;
  color: antiquewhite;

  img {
    margin: 0;
  }

  span {
    color: var(--gray-500);
  }
  
}

