#intro {
margin-top: 120px;
text-align: center;
width: 1040px;
height: 447px;
margin-inline: auto;
background-image: url(./Assets/Background_Intro.png);
background-size: cover;
box-sizing: border-box;
color: var(--gray-500);
font: var(--subtitle);

img {
  margin-bottom: 56px;
}

span {
  color: var(--red);
}

h1 {
  margin-top: 8px;
  margin-bottom: 20px;
  font: var(--title-lg);
  color: var(--gray-600); 
}

div p {
  width: 680px;
  margin: auto;
  font: var(--text-sm);
}

}
